.btngroupComponentStyle {
  width: 100%;
  margin-top: 1rem;
  z-index: 0;
  background-color: #fff;
  padding: 2px;
  border-radius: 15px;
  .btn-outline-dark {
    border-color: #21252900;
  }
  .btn-outline-dark {
    &:hover {
      color: #212529;
      background: none;
      border-color: transparent;
    }
  }
  input:checked + .btn-outline-dark {
    &:hover {
      color: #fff;
      background: #212529;
      border-color: #212529;
    }
  }
  label.btn {
    line-height: 0.5;
    border-radius: 15px;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    @media (max-width: 575.98px) {
      line-height: 1rem;
    }
  }
}
