.header{
    .left-side{
        padding-top: .35rem;
        padding-bottom: .35rem;
        background-color: #F5F5F5;
        .avatar{
            height: 50px;
            width: 50px;
        }
    }
    .right-side{
        background-color: $background-color;
        .Selected-Research{
            margin-right: .2rem;
        }
    }
}