.InputComponentStyle {
  border-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border: none;
}
.InputComponentStyle.notValidation{
  border: 1px solid red;
}
.css-1hb7zxy-IndicatorsContainer{
  display: none !important;
}
.css-1s2u09g-control {
  border: none !important;
}

.InputSelectStyle {
  .css-1s2u09g-control{
  }
  .css-319lph-ValueContainer ,  .css-g1d714-ValueContainer {
    border-radius: 9px;
    border: 1px solid #adadad;
    position: relative;
    background: #fff;
    &::after{
      content: '';
      position: absolute;
      right: 9px;
      background-image: url('./../../Images/icons/down-arrow-black-circular-button.svg');
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center;  
    }
  }
}

.Icon-inside {
  position: relative;
  span.icon {
    position: absolute;
    right: 10px;
    top: 15%;
    color: #30a3f1;
  }
}
