.InputComponentStyle {
  border-radius: 9px;
  border:none;
}

.InputSelectStyle{
  border-radius: 9px;
  border:none;
  background-image: url('./../../Images/component/down-arrow-black-circular-button.svg');
}