.InputComponentStyle {
  border-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border: none;
}

.InputSelectStyle {
  border-radius: 9px;
  background-image: url("./../../Images/component/down-arrow-black-circular-button.svg");
}
.Icon-inside {
  position: relative;
  span.icon {
    position: absolute;
    right: 10px;
    top: 15%;
    color: #30a3f1;
  }
}
