.righ-section {
  .top {
    min-height: 134px;
    background-color: $BackgroundColor;
    margin: 1rem 2rem 1rem 0rem;
    border-radius: 15px;
    @media (max-width: 991.98px) {
      margin: 1rem;
    }
    .IconTextVertical {
      img {
        margin-bottom: 6px;
      }
    }
  }
  .bottom {
    min-height: 170px;
    background-color: $black-color;
    margin: 1rem 2rem 1rem 0rem;
    @media (max-width: 991.98px) {
      margin: 1rem;
    }
    border-radius: 15px;
    padding: 18px 27px 27px 27px;
    img {
      width: 2.5rem;
      height: 2.5rem;
    }
    .title-recent {
      font-size: 16px;
    }
    .massages {
      background-color: #343434;
      border-radius: 15px;
      margin-top: 1rem;
      font-size: 12px;
      ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #ffff;
          padding: 0.45rem;
        }
      }
    }
  }
}
