.righ-section {
  .top {
    min-height: 157px;
    background-color: $BackgroundColor;
    margin: 1rem 2rem 1rem 0rem ;
    border-radius: 15px;
  }
  .bottom {
    min-height: 170px;
    background-color: $black-color;
    margin: 1rem 2rem 1rem 0rem ;
    border-radius: 15px;
    padding: 18px 27px 27px 27px;
    .title-recent{
      font-size: 18px;
    }
    .massages{
        background-color: #343434;
        border-radius: 15px;
        margin-top: 1rem;
        
        ul{
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            li{
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: #ffff;
                padding: .45rem;
            }
        }
    }
  }
}
