.parent-sidebar {
  background: $black-color;
  transition: all 700ms;
  padding: 1rem;
  height: 100%;
  direction: rtl;
  border: 1px solid #f5f5f5;
  @media (max-width: 767.98px) {
    overflow: scroll;
    max-height: 100vh;
  }

  ul {
    list-style: none;
    padding: 0.5rem 0.5rem;
    color: #ffffff;
    text-align: center;
    a.selected li {
      border-bottom: 0.5px solid #8ee1ff;
    }
    li {
      &:first-child {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      border-bottom: 0.5px solid #ebebeb69;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      font-size: 14px;
      span {
        margin-bottom: 0.6rem;
      }
    }
  }
}
.closeing-sidebar {
  @media (max-width: 767.98px) {
    display: none;
    width: 0;
  }
}
.opening-sidebar {
  @media (max-width: 767.98px) {
    display: block;
    width: auto;
  }
}
.sidebar {
  position: relative;
  min-width: 139px;
  transition: all 0.3s ease-in;
  @media (max-width: 767.98px) {
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  .gide-sidebar {
    position: absolute;
    left: 91%;
    top: 0;
    height: 100%;
    z-index: 20;
    background-color: $black-color;
    width: 200px;
    .list-icons {
      padding: 1rem;
      background-color: #ebebeb;
    }
    .helptext {
      font-size: 10px;
      color: #ebebeb;
      padding: 1rem;
    }
    img {
      opacity: 0.7;
    }
  }
}
.fa-bars {
  display: flex;
  background: #ebebeb;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding-left: 29px;
  margin-top: 9px;
  border-radius: 6px;
}
