.parent-sidebar {
  background: $black-color;
  transition: all 700ms;
  padding: 1rem;
  height: 100%;
  direction: rtl;
  border: 1px solid #f5f5f5;


  ul {
    list-style: none;
    padding: 0.5rem 0.5rem;
    color: #ffffff;
    text-align: center;
    a.selected li{
      border-bottom: 0.5px solid #8EE1FF;
    }
    li {
      &:first-child{
        margin-top: 0;
        margin-bottom: 1rem;
      }
      border-bottom: 0.5px solid #ebebeb69;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

.sidebar{
  position: relative;
  .gide-sidebar{
    position: absolute;
    left: 91%;
    top: 0;
    height: 100%;
    z-index: 20;
    background-color: $black-color;
    width: 200px;
    .list-icons{
      padding: 1rem;
      background-color: #ebebeb;
    }
    .helptext{
      font-size: 10px;
      color: #ebebeb;
      padding: 1rem ;
    }
    
  }
}

