.TableBox {
  padding: 2rem;
  background-color: $BackgroundColor;
  border-radius: 15px;
  margin-top: 1rem;
  .table {
    border-collapse: inherit;
    thead tr th {
      background-color: transparent;
      font-size: 20px;
      font-weight: lighter;
    }
    tbody {
      border-radius: 10px;
      tr {
        &:first-child {
          td {
            &:first-child {
              border-top-left-radius: 15px;
            }
            &:last-child {
              border-top-right-radius: 15px;
            }
          }
        }
        &:last-child {
          td {
            &:first-child {
              border-bottom-left-radius: 15px;
            }
            &:last-child {
              border-bottom-right-radius: 15px;
            }
          }
        }
      }
    }
  }
  span.lable {
    border: 2px solid;
    margin-right: 0.2rem;
    border-radius: 80px;
  }
  .accordion-button::after {
    position: absolute;
    left: 6px;
    padding-left: 1rem;
    background-image: url("./../../Images/component/down-arrow-black-circular-button.svg");
  }
  .accordion-button {
    .row.w-100 {
      padding-left: 1rem;
    }
  }
  .accordion-body {
    position: relative;
    margin-left: 1rem;
    .row.w-100 {
      &:nth-child(odd) {
        background-color: white;
      }
      &:nth-child(even) {
        background-color: #f5f5f5;
      }
    }
    span.sub-accordion {
      position: absolute;
      transform: rotate(-90deg);
      left: -3%;
      bottom: 35%;
      background: white;

      text-align: center;
    }
  }
  .accordion {
    .accordion-item.accordion-item-top {
      border-radius: 15px;
      &:nth-child(even) {
        .accordion-header .accordion-button {
          background-color: white;
        }
      }
      &:nth-child(odd) {
        .accordion-header .accordion-button {
          background-color: #f5f5f5;
        }
        &:first-child {
          .accordion-header .accordion-button {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
          }
        }
        &:last-child {
          .accordion-header .accordion-button {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
      }
    }
  }
}
