.darkButton {
  color: white;
  background-color: #474747;
}

.lightButton {
  color: #474747;
  background-color: #c6c6c6;
}

button {
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.darkCircleIcon {
  color: white;
  background-color: #474747;
}

.lightCircleIcon {
  color: #474747;
  background-color: #c6c6c6;
}

.CircleIcon {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.InputComponentStyle {
  border-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border: none;
}

.InputComponentStyle.notValidation {
  border: 1px solid red;
}

.css-1hb7zxy-IndicatorsContainer {
  display: none !important;
}

.css-1s2u09g-control {
  border: none !important;
}

.InputSelectStyle .css-1s2u09g-control {
  min-width: 72px;
  background: transparent;
}

.InputSelectStyle .css-319lph-ValueContainer, .InputSelectStyle .css-g1d714-ValueContainer {
  border-radius: 9px;
  border: 1px solid #adadad;
  position: relative;
  background: #fff;
  min-width: 72px;
}

.InputSelectStyle .css-319lph-ValueContainer::after, .InputSelectStyle .css-g1d714-ValueContainer::after {
  content: '';
  position: absolute;
  right: 9px;
  background-image: url("./../../Images/icons/down-arrow-black-circular-button.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.Icon-inside {
  position: relative;
}

.Icon-inside span.icon {
  position: absolute;
  right: 10px;
  top: 15%;
  color: #30a3f1;
}

.IconTextVertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.IconTextVertical.IconTextVerticalDark {
  color: #ffff;
}

.IconTextVertical.IconTextVerticalLight {
  color: #474747;
}

.IconTextRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.IconTextRow.IconTextRowDark {
  color: #ffff;
}

.IconTextRow.IconTextRowLight {
  color: #474747;
}

.header .left-side {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  background-color: #f5f5f5;
}

.header .left-side .avatar {
  height: 36px;
  width: 36px;
}

.header .right-side {
  background-color: #ebebeb;
}

.header .right-side .Selected-Research {
  margin-right: 0.2rem;
  font-size: 14px;
}

.header .select_header_research {
  width: 60%;
  background-color: #f5f5f5;
  height: 28px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .select_header_research .notif {
  width: 14px;
  height: 14px;
  background-color: #009DFF;
  border-radius: 50%;
  display: inline-block;
}

.modal-dialog {
  margin: 3.75rem auto;
  max-width: 845px;
}

.modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

.font-14 {
  font-size: 14px;
}

.parent-sidebar {
  background: #474747;
  -webkit-transition: all 700ms;
  transition: all 700ms;
  padding: 1rem;
  height: 100%;
  direction: rtl;
  border: 1px solid #f5f5f5;
}

.parent-sidebar ul {
  list-style: none;
  padding: 0.5rem 0.5rem;
  color: #ffffff;
  text-align: center;
}

.parent-sidebar ul a.selected li {
  border-bottom: 0.5px solid #8ee1ff;
}

.parent-sidebar ul li {
  border-bottom: 0.5px solid #ebebeb69;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

.parent-sidebar ul li:first-child {
  margin-top: 0;
  margin-bottom: 1rem;
}

.parent-sidebar ul li span {
  margin-bottom: 0.6rem;
}

.sidebar {
  position: relative;
  min-width: 139px;
}

.sidebar .gide-sidebar {
  position: absolute;
  left: 91%;
  top: 0;
  height: 100%;
  z-index: 20;
  background-color: #474747;
  width: 200px;
}

.sidebar .gide-sidebar .list-icons {
  padding: 1rem;
  background-color: #ebebeb;
}

.sidebar .gide-sidebar .helptext {
  font-size: 10px;
  color: #ebebeb;
  padding: 1rem;
}

.sidebar .gide-sidebar img {
  opacity: 0.7;
}

.righ-section .top {
  min-height: 134px;
  background-color: #ebebeb;
  margin: 1rem 2rem 1rem 0rem;
  border-radius: 15px;
}

.righ-section .top .IconTextVertical img {
  margin-bottom: 6px;
}

.righ-section .bottom {
  min-height: 170px;
  background-color: #474747;
  margin: 1rem 2rem 1rem 0rem;
  border-radius: 15px;
  padding: 18px 27px 27px 27px;
}

.righ-section .bottom img {
  width: 2.5rem;
  height: 2.5rem;
}

.righ-section .bottom .title-recent {
  font-size: 16px;
}

.righ-section .bottom .massages {
  background-color: #343434;
  border-radius: 15px;
  margin-top: 1rem;
  font-size: 12px;
}

.righ-section .bottom .massages ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.righ-section .bottom .massages ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffff;
  padding: 0.45rem;
}

.TableBox {
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 15px;
  margin-top: 1rem;
}

.TableBox .TopTableBox .left h6 {
  font-size: 16px;
}

.TableBox .TopTableBox .left .InputComponentStyle {
  height: 39px;
  border: 1px solid #adadad;
}

.TableBox .TopTableBox .right button {
  min-width: 134px;
  min-height: 34px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.TableBox .table {
  border-collapse: collapse;
}

.TableBox .table tbody,
.TableBox .table td,
.TableBox .table tfoot,
.TableBox .table th,
.TableBox .table thead,
.TableBox .table tr {
  border-color: inherit;
  border-style: solid;
  border-width: -1;
  border: none;
}

.TableBox .table thead tr th {
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
}

.TableBox .table tbody {
  border-radius: 10px;
  font-size: 12px;
}

.TableBox .table tbody td {
  border: none;
}

.TableBox .table tbody tr {
  border: none;
}

.TableBox .table tbody tr:first-child td:first-child {
  border-top-left-radius: 15px;
}

.TableBox .table tbody tr:first-child td:last-child {
  border-top-right-radius: 15px;
}

.TableBox .table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.TableBox .table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.TableBox .table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #ffffff;
}

.TableBox .table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-accent-bg: #efefef;
}

.TableBox span.lable {
  width: 5px;
  margin-right: 1px;
  border-radius: 29%;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.TableBox .row.px-3 div {
  font-size: 14px;
}

.TableBox .row.px-3 div:last-child {
  padding-right: 0;
}

.TableBox .justify-content-end .text-right {
  font-size: 11px;
}

.TableBox .accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.TableBox .accordion-button::after {
  position: absolute;
  left: 4px;
  padding-left: 1rem;
  background-image: url("./../../Images/icons/toggle_Icon.svg");
}

.TableBox .accordion-button {
  font-size: 12px;
  padding: 0.5rem 0rem 0.5rem 0.75rem;
}

.TableBox .accordion-button .row.w-100 {
  padding-left: 1rem;
}

.TableBox .accordion-button .row.w-100 .col:last-child {
  padding-right: 0;
}

.TableBox .accordion-button .row.w-100 .col span.d-inline-block {
  position: relative;
}

.TableBox .accordion-button .CircleIcon:last-child {
  margin-right: 0px !important;
}

.TableBox .accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem;
  min-height: 65px;
  font-size: 12px;
}

.TableBox .accordion-body .sub-accordian-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5%;
  border-right: 1px solid #ebebeb;
}

.TableBox .accordion-body .items {
  width: 97%;
}

.TableBox .accordion-body .row.w-100 {
  margin: 0;
}

.TableBox .accordion-body .row.w-100:nth-child(odd) {
  background-color: white;
}

.TableBox .accordion-body .row.w-100:nth-child(even) {
  background-color: #f5f5f5;
}

.TableBox .accordion-body p.sub-accordion {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: auto;
}

.TableBox .accordion .accordion-item.accordion-item-top {
  border-radius: 15px;
}

.TableBox .accordion .accordion-item.accordion-item-top .col {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.TableBox .accordion .accordion-item.accordion-item-top:nth-child(even) .accordion-header .accordion-button {
  background-color: white;
}

.TableBox .accordion .accordion-item.accordion-item-top:nth-child(odd) .accordion-header .accordion-button {
  background-color: #f5f5f5;
}

.TableBox .accordion .accordion-item.accordion-item-top:nth-child(odd):first-child .accordion-header .accordion-button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.TableBox .accordion .accordion-item.accordion-item-top:nth-child(odd):last-child .accordion-header .accordion-button {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.TableBox .accordion-button:not(.collapsed) {
  color: #474747;
}

@media (max-width: 575.98px) {
  .TableBox .responsive {
    overflow-x: scroll;
    overflow-y: hidden;
    min-width: 63vw;
  }
  .TableBox .responsive .child-rsponsive {
    min-width: 100vw;
  }
}

.box-alert {
  min-height: 115px;
  border-radius: 9px;
  background-color: #c6c6c6;
  padding: 2rem;
  text-align: center;
}

.parent-box-list-scroll {
  background-color: #c7c7c7;
  border-radius: 15px;
}

.parent-box-list-scroll .box-list-scroll {
  max-height: 220px;
  overflow-y: scroll;
  background-color: #c7c7c7;
  border-radius: 15px;
  padding: 1rem 1rem;
  border-bottom: 2px solid #ebebeb;
  border-top: 2px solid #ebebeb;
}

.parent-box-list-scroll .box-list-scroll .IconTextVerticalLight {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 0.3rem;
  width: 100%;
}

.parent-box-list-scroll .box-list-scroll .avatar {
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.parent-box-list-scroll .box-list-scroll span {
  font-size: 12px;
}

.box-list-scroll::-webkit-scrollbar {
  width: 20px;
}

.box-list-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.box-list-scroll::-webkit-scrollbar-thumb {
  background-color: #5d5d5d;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.box-list-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.btngroupComponentStyle {
  width: 100%;
  margin-top: 1rem;
  z-index: 0;
  background-color: #fff;
  padding: 2px;
  border-radius: 15px;
}

.btngroupComponentStyle .btn-outline-dark {
  border-color: #21252900;
}

.btngroupComponentStyle .btn-outline-dark:hover {
  color: #212529;
  background: none;
  border-color: transparent;
}

.btngroupComponentStyle input:checked + .btn-outline-dark:hover {
  color: #fff;
  background: #212529;
  border-color: #212529;
}

.btngroupComponentStyle label.btn {
  line-height: 0.5;
  border-radius: 15px;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

@media (max-width: 575.98px) {
  .btngroupComponentStyle label.btn {
    line-height: 1rem;
  }
}
/*# sourceMappingURL=component-dir.css.map */