.dashbord {
  margin-top: 1rem;
  .overviwe {
    padding: 2rem;
    background-color: $BackgroundColor;
    border-radius: 15px;
    .overviwe-item {
      .avatar {
        margin: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
      }
      h1 {
        font-size: 2rem;
      }
      .text-center {
        font-size: 11px;
      }
    }
    @media (max-width: 1199.98px) {
      padding: 1rem;
      .overviwe-item {
        .avatar {
          margin: 0.5rem;
          width: 2.5rem;
          height: 2.5rem;
        }
        h1 {
          font-size: 1.5rem;
        }
        .text-center {
          font-size: 11px;
        }
      }
    }
  }
}
.pagination {
  font-size: 11px;
  li {
    margin: 0.3rem;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    .fas {
      font-weight: 600;
    }
  }
  li.previous {
    font-size: 11px;
  }
  li.next {
    font-size: 13px;
  }
  li.active {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 173);
    width: 24px;
    height: 24px;
    color: white;
  }
}
