.plans {
  .plan {
    max-height: 550px;
    width: 213px;
    margin: 0 2.1rem;
    &:first-child {
      margin-left: 0;
    }
    .plan-head {
      height: 43px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      font-weight: bold;
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;
      color: #fff;
    }
    .plan-price {
      height: 73px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 20px;
      font-weight: bold;
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;
      color: #474747;
      background-color: #f4f4f4;
      .month {
        font-size: 16px;
        font-weight: lighter;
        color: #474747ba;
      }
      .billed {
        font-size: 9px;
        font-weight: lighter;
        color: #474747ba;
      }
    }
    .plan-body {
      background-color: #ebebeb;
      border-bottom-left-radius: 13px;
      border-bottom-right-radius: 13px;
      padding: 0.2rem 0.4rem;
      p {
        color: #474747ba;
        font-size: 10px;
        font-weight: lighter;
        text-align: center;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
      }
      .items {
        border-top: 1px solid #cbcbcb;
        border-bottom: 1px solid #cbcbcb;
        .item {
          &:first-child {
            margin-top: 0.3rem;
          }
          &:last-child {
            margin-bottom: 0.3rem;
          }
          img {
            opacity: 0.6;
          }
          margin-bottom: 0.5rem;
          .title-item {
            color: #474747ba;
            font-size: 12px;
            font-weight: lighter;
          }
        }
      }
      .button {
        margin-bottom: 1rem;
      }
    }
  }
  .free {
    background-color: #a3a3a3;
  }
  .Essential {
    background-color: #00a598;
  }
  .Standard {
    background-color: #0020a5;
  }
  .Enterprise {
    background-color: #ffba00;
  }
  @media (max-width: 1199.98px) {
    .plan {
      margin: 0 1.1rem;
    }
  }
  @media (max-width: 991.98px) {
    .plan {
      margin: 1rem 1.1rem;
    }
  }
}
.Annual {
  display: flex;
  align-items: baseline;
  margin: 0.7rem 0.3rem;
  h4 {
    font-size: 17px;
    font-weight: bold;
  }
  span {
    color: #474747;
    font-size: 17px;
    font-weight: lighter;
    margin-left: 0.4rem;
  }
  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
  }
}
#invite-register {
  width: 53vw;
  .form-2 {
    .left {
      position: relative;
      &::before {
        content: "";
        background-color: #cbcbcb;
        position: absolute;
        width: 1px;
        height: 100%;
        top: -28px;
        right: -1px;
        display: block;
      }
    }
  }
}
.form-register {
  width: 65vw;
  margin: 3rem 1rem;
  .font-bolder {
    font-weight: bold;
  }

  .header-form {
    background-color: #00a598;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    img {
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
  .body-form {
    background-color: #ebebeb;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-bottom: 0.3rem;
    .desc-form-body {
      color: #474747ba;
      font-size: 14px;
      font-weight: lighter;
      .font-bolder {
        display: inline;
      }
    }
    .stepper-wrapper {
      padding-top: 0.3rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    .stepper-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      &::after {
        display: none;
      }
      @media (max-width: 768px) {
        font-size: 8px;
      }
    }
    .step-name {
      font-size: 12px;
      margin: 0.3rem 0rem;
    }

    .stepper-item::before {
      position: absolute;
      content: "";
      border-bottom: 4px solid #00a598;
      width: 100%;
      bottom: 20px;
      left: -50%;
      z-index: 2;
    }

    .stepper-item::after {
      position: absolute;
      content: "";
      border-bottom: 4px solid #00a598;
      width: 100%;
      top: 20px;
      left: 50%;
      z-index: 2;
    }

    .stepper-item .step-counter {
      position: relative;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #ebebeb;
      margin-bottom: 6px;
      border: 3px solid #00a598;
      font-size: 19px;
      color: #00a598;
    }

    .stepper-item.active {
      font-weight: bold;
      &::after {
        display: none;
      }
    }

    .stepper-item.completed .step-counter {
      background-color: #00a598;
      color: #fff;
    }

    .stepper-item.completed::after {
      position: absolute;
      content: "";
      border-bottom: 4px solid #00a598;
      width: 100%;
      bottom: 20px;
      left: 50%;
      z-index: 3;
    }

    .stepper-item:first-child::before {
      content: none;
    }
    .stepper-item:last-child::after {
      content: none;
    }
    .step-dynamic-form {
      .item {
        margin: 0.5rem 0rem;
        font-size: 0.8rem;
        input {
          height: 30px;
          margin-top: 5px;
        }
        .CircleIcon {
          margin: 0 0.5rem;
        }
        .InputSelectStyle .css-319lph-ValueContainer,
        .InputSelectStyle .css-g1d714-ValueContaine {
          height: 35px;
          &::after {
            top: 2px;
          }
        }
      }
    }
  }
}
