.new-research {
}
.box-content {
  background-color: $BackgroundColor;
  color: $black-color;
  border-radius: 15px;
  margin: 2rem 0rem;
  .b-title {
    margin-left: 1rem;
  }
  .left {
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
      background-color: #cbcbcb;
      position: absolute;
      width: 1px;
      height: 100%;
      top: 10px;
      right: -5px;
      display: block;
    }
  }
  .right {
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .item {
    margin-top: 1rem;
    .label {
      font-size: 1.1rem;
      color: $black-color;
      margin-right: 1rem;
      .CircleIcon {
        margin-left: 1rem;
      }
    }
    input[type="text"],
    input[type="select"] {
      margin-top: 0.3rem;
      border: 1px solid #adadad;
    }
  }
  .react-datepicker__input-container {
    position: relative;
    input {
      border-radius: 9px;
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1 px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      position: relative;
    }
    &::after {
      color: #000;
      content: "\f073";
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 26%;
    }
  }
  .form-check {
    input[type="radio"] {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      outline: none;
      &:focus {
        box-shadow: none;
      }
      &:checked {
        background: $black-color;
        border: 2px solid #ffff;
      }
    }
  }
  // .btn-group {
  //   width: 100%;
  //   margin-top: 1rem;
  //   z-index: 0;
  //   label.btn {
  //     line-height: 0.5;
  //     border-radius: 15px;
  //     border-top-right-radius: 15px !important;
  //     border-bottom-right-radius: 15px !important;
  //     @media (max-width: 575.98px) {
  //       line-height: 1rem;
  //     }
  //   }
  // }
  .fileUploadBox {
    min-height: 105px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px dashed #adadad;
    margin-top: 1rem;
  }

  .tabel-info {
    .t-title {
      background-color: #f5f5f5;
      padding: 1rem;
    }
    .t-desc {
      background-color: #ffffff;
      padding: 0.5rem;
      ul {
        list-style: none;
      }
    }
    .border-t-r {
      border-top-right-radius: 15px;
    }
    .border-t-l {
      border-top-left-radius: 15px;
    }
    .border-b-l {
      border-bottom-left-radius: 15px;
    }
    .border-b-r {
      border-bottom-right-radius: 15px;
    }
  }
  .teams {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 15px;
    .History {
      .box-history {
        min-height: 140px;
        background-color: #ebebeb;
        border-radius: 15px;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
  .file-list {
    list-style-type: none;
    padding-left: 0;
  }
  .tags {
    button {
      margin-bottom: 1rem;
    }
  }
}
.w-30 {
  @include custom_width(30%);
}

.team-edit {
  background-color: #c7c7c7 !important;
  .team {
    border: 1px solid #ebebeb;
  }
}
.backPage {
  background-image: url("./../../Images/pages/toggle_icon.png");
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 1rem;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 575.98px) {
    width: 90px;
    height: 48px;
  }
}
.Amount {
  padding-left: 1rem;
  .title {
    font-size: 18px;
    font-weight: normal;
    background-color: #f5f5f5;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 1rem;
  }
  .price {
    font-size: 37px;
    font-weight: bold;
    background-color: #ffff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 1rem;
  }
}
.accordion {
  .checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
  }


  .checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #707070;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #ffff;
    cursor: pointer;
  }

  .checkbox > input:checked {
    border: 1px solid #ffff;
    background-color: #707070;
  }

  .checkbox > input:checked + span::before {
    content: "\2713";
    display: block;
    text-align: center;
    color: #ffff;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
  }

  .checkbox > input:active {
    border: 2px solid #707070;
  }
}
