.dashbord {
  margin-top: 1rem;
}

.dashbord .overviwe {
  padding: 2rem;
  background-color: #ebebeb;
  border-radius: 15px;
}

.dashbord .overviwe .overviwe-item .avatar {
  margin: 0.5rem;
}

.pagination li {
  margin: 0.3rem;
}

.pagination li.active {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #adadad;
  width: 24px;
  height: 24px;
  color: white;
}

.login {
  min-height: 400px;
  min-width: 50%;
}

.login .left {
  background-color: #ebebeb;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.login .left .logo {
  width: 139px;
  height: 43px;
  margin: 2rem;
}

.login .left .logo-Member {
  width: 125px;
  height: 125px;
  margin: 2rem;
}

.login .right {
  background-color: #474747;
  min-height: 400px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .right .line {
  font-size: 14px;
  color: #ebebeb;
  position: relative;
}

.login .right .line::after {
  content: "";
  width: 200%;
  height: 2px;
  background-color: #ebebeb;
  position: absolute;
  top: 50%;
  left: 106%;
}

.login .right .line::before {
  content: "";
  width: 200%;
  height: 2px;
  background-color: #ebebeb;
  position: absolute;
  top: 50%;
  right: 106%;
}

.box-content {
  background-color: #ebebeb;
  color: #474747;
  border-radius: 15px;
  margin: 2rem 0rem;
}

.box-content .b-title {
  margin-left: 1rem;
}

.box-content .left {
  position: relative;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-content .left::before {
  content: "";
  background-color: #cbcbcb;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 10px;
  right: -5px;
  display: block;
}

.box-content .right {
  position: relative;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-content .item {
  margin-top: 1rem;
}

.box-content .item .label {
  font-size: 1.1rem;
  color: #474747;
  margin-right: 1rem;
}

.box-content .item .label .CircleIcon {
  margin-left: 1rem;
}

.box-content .item input[type="text"],
.box-content .item input[type="select"] {
  margin-top: 0.3rem;
  border: 1px solid #adadad;
}

.box-content .react-datepicker__input-container {
  position: relative;
}

.box-content .react-datepicker__input-container input {
  border-radius: 9px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1 px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  position: relative;
}

.box-content .react-datepicker__input-container::after {
  color: #000;
  content: "\f073";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 26%;
}

.box-content .form-check input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
}

.box-content .form-check input[type="radio"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box-content .form-check input[type="radio"]:checked {
  background: #474747;
  border: 2px solid #ffff;
}

.box-content .btn-group {
  width: 100%;
  margin-top: 1rem;
  z-index: 0;
}

.box-content .btn-group label.btn {
  line-height: 0.5;
  border-radius: 15px;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

@media (max-width: 575.98px) {
  .box-content .btn-group label.btn {
    line-height: 1rem;
  }
}

.box-content .fileUploadBox {
  min-height: 105px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px dashed #adadad;
  margin-top: 1rem;
}

.box-content .tabel-info .t-title {
  background-color: #f5f5f5;
  padding: 1rem;
}

.box-content .tabel-info .t-desc {
  background-color: #ffffff;
  padding: 0.5rem;
}

.box-content .tabel-info .t-desc ul {
  list-style: none;
}

.box-content .tabel-info .border-t-r {
  border-top-right-radius: 15px;
}

.box-content .tabel-info .border-t-l {
  border-top-left-radius: 15px;
}

.box-content .tabel-info .border-b-l {
  border-bottom-left-radius: 15px;
}

.box-content .tabel-info .border-b-r {
  border-bottom-right-radius: 15px;
}

.box-content .teams {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 15px;
}

.box-content .file-list {
  list-style-type: none;
  padding-left: 0;
}

.box-content .tags button {
  margin-bottom: 1rem;
}

.team-edit {
  background-color: #c7c7c7 !important;
}

.team-edit .team {
  border: 1px solid #EBEBEB;
}

.backPage {
  background-image: url("./../../Images/pages/toggle_icon.png");
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 1rem;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 575.98px) {
  .backPage {
    width: 90px;
    height: 48px;
  }
}

.Amount {
  padding-left: 1rem;
}

.Amount .title {
  font-size: 18px;
  font-weight: normal;
  background-color: #F5F5F5;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 1rem;
}

.Amount .price {
  font-size: 37px;
  font-weight: bold;
  background-color: #ffff;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1rem;
}

.discusstion .box-list-scroll {
  max-height: 700px;
}

.title-discusstion {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  margin-top: 2rem;
  font-size: 20px;
  font-weight: normal;
}

.title-discusstion span {
  color: #0089ff;
  font-size: 20px;
  font-weight: bold;
}

.chat {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
}

.chat .submit-msg {
  border-radius: 15px;
  background-color: #474747;
  color: #ffffff;
  font-size: 18px;
  font-weight: lighter;
  padding: 0.52rem;
  margin: 0.5rem;
}

.chat .Received {
  direction: rtl;
}

.chat .Received .Received-msg {
  border-radius: 15px;
  background-color: #c7c7c7;
  color: #474747;
  font-size: 18px;
  font-weight: lighter;
  padding: 0.52rem;
  margin: 0.5rem;
  text-align: left;
  direction: ltr;
}
/*# sourceMappingURL=page-dir.css.map */