
@font-face {
  font-family: Sanfransisco;
  src: url(./../../font/sf-ui-display-cufonfonts/sf-ui-display-light-58646b33e0551.otf);
}
body {
  background-color: #ffffff;
  font-family: Sanfransisco;
  overflow-x: hidden;
}
.text-black-color {
  color: $black-color;
}
.main{
  overflow-x: hidden;
}
.pointer {
  cursor: pointer;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
@mixin custom_width($width) {
  width: $width;
} 

